h1 {
    color: #4aaaa5;
}

header {
    background-color: #4aaaa5;
}

p {
    color: #777777;
}

.colorGrey {
    color: #777777;
}

.colorTeal {
    color: #4aaaa5;
}

.mainContentColor {
    background-color: #ffffff;
}

.footerTop {
    width: 100%;
    height: 5px;
    background-color: #4aaaa5;
}