.text {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 16px;
}

form {
    padding-top: 25px;
}

form input {
    margin: 15px;
    border-radius: 5px;
}

form input:focus {
    border: 1px #4aaaa5 solid;
}

h1 {
    border-bottom: solid #666666 2px;
    padding: 25px 25px;
    margin: 0px 25px;
}

header {
    position: relative;
    top: -2px;
    /* left: -13px; */
}

.header {
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px;
    position: relative;
    top: -49px;
    right: 13px;
    border: 2px;
    border-color: #cccccc;
}

.topnav {
    float: right;
    margin-left: 5px;
    border-left: #777777;
    border-left: 1px;
    overflow: hidden;
    position: relative;
    top: -89px;
    right: -13px; 
}

.topnav a {
    float: right;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* transition: all .5s; */
}

.topnav a:hover {
    background-color: #4aaaa5;
    color: black;
}

.active {
    background-color: #4aaaa5;
}

.grad:hover {
    transition: all .5s;
    background-image: linear-gradient(to center, rgba(74,170,165,0), rgba(74,170,165,1));
  }

.colorGrey {
    color: #777777;
}

.colorTeal {
    color: #4aaaa5;
}

.backTealheader span {
    background-color: #4aaaa5;
}

.mainContent {
    background-color: #ffffff;
    width: 960px;
    margin: auto;
    border: 3px solid #dddddd;
    padding: 10px;
}

.footerTop {
    position: absolute;
    width: 100%;
    height: 5px;
    background: #4aaaa5;
    text-align: center;
}

.footerMain {
    position: relative;
    width: 100%;
    height: 40px;
    background: #666666;
}

.placeHolder {
    height: 250px;
    width: 250px;
    border: 2px;
    border-style: solid;
    border-color: #666666;
    margin: 30px;
}

.bioPic {
    float: left;
    max-height: 200px;
    border: 2px;
    border-style: solid;
    border-color: #666666;
    margin: 5px;
}

html,
body {
    height: 100%;
    margin: 0;
}

/* Trick !!!look into flex and grid for css!!! */
body {
    background-image: url(../images/background.png);
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

footer {
    margin-top: auto;
    padding-top: 70px;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
}